#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #fffbf4;
}
.home-title{
    font-family: 'Bangers', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
body{
background-color: #fffbf4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #394A5B;
}
nav a:hover{
background-color: #d4d6e1;
color:#000000;
}
.book, .join{
background-color: #d4d6e1;
text-decoration: none;
color: #000000;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}
.book:hover, .join:hover{
background-color: #929096;
color: white;
}
.msg h2{
    color: #000000;
    font-family: 'Bangers', 'Bradley Hand', sans-serif;
}
.msg p{
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.msg{
background-color: #fffbf4;
line-height: 1.5em;
padding: 35px;
}
footer{
background-color: #394A5B;
color: #d4d6e1;
padding: 25px 50px;
margin-top: 200px;
}
footer a{
    text-decoration: none;
    color: #d4d6e1;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}   
footer a:hover{
    background-color: #929096;
    color: #000000;
}
nav a{
    color:rgb(255, 255, 255);
    padding: 35px;
}
.hometitle{
    color: black;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4{
    color: black;
}
footer .social img{
    padding-top: 15px;
}

.logo{
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #000000;
}