#wrapper {
    z-index: -1;
    margin:0 auto;
    width: 75%;

    background-color: rgb(208, 196, 204);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 56, 66);
    color: antiquewhite;
    overflow: hidden;
}
ul li{
    float: left;
    background-color: rgb(73, 53, 65);
    display: block;
    text-align: center;
    padding: 14px 115px;
}
ul li a:hover {
  background-color: #111111;
}
main {
    padding: 15px 50px;
    text-align: center;
}
h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 3px rgb(123, 68, 106);
}
h2 {
    text-shadow: 1px 1px 20px rgb(194, 0, 126);
}
img {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
}