body {
    font-family: "Quintessential", "Papyrus";
}
h1, h2, h3, h4 {
    font-family: "Black Ops One", "Papyrus";
}
/* NAV */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
/*Hero Image*/
