
body {
    background-color: rgb(239, 235, 229);
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333; 
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}

#button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 25px;
}

.testing_button, #text_1, #text_2 {
    background-color: rgb(22, 88, 174);
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 25px;
}
#text_1 {
    grid-column: 2/3;
    grid-row: 1/2;
}
#family {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
}
#mountain {
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
}

#ICElist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main {
    text-align: center;
}
footer {
    background-color: #333333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}


#ICElist button {
    background-color: rgb(22, 88, 174);
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 25px;    
}